.banner{
  margin: 0 auto;
  width: 1280px;
  height: 450px;
  max-width: 100%;
  flex-shrink: 0 1;
  border-radius: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../../assets/subscribe/image-hero-blackcup.jpg');
  margin-bottom: 200px;
  .title{
    color: #FEFCF7;
    font-family: Fraunces;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    margin-left: 58px;
  }
  .banner_text{
    width: 445px;
    color: #FEFCF7;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    opacity: 0.8;
    margin-left: 58px;
  }
}
.box1{
  max-width: 100%;
  width: 1280px;
  background-color: #2C343E;
  .wrapper_infos{
    display: flex;
    flex-wrap: wrap;
    width: 1115px;
    max-width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
    margin: 0 auto;
    z-index: 50;
    margin-bottom: 50px;
    .info{
      width: 350px;
    .top{
      margin-top: 113px;
      display: flex;
      align-items: center;
    }
      h2{
        color: #FDD6BA;
        font-family: Fraunces;
        font-size: 72px;
        font-style: normal;
        font-weight: 900;
        line-height: 72px; /* 100% */
      }
      h3{
        width: 255px;
        color: #FEFCF7;
        font-family: Fraunces;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px; /* 112.5% */
      }
      h4{
        width: 285px;
        color: #FEFCF7;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; /* 162.5% */
        margin-bottom: 113px;
      }
    }
  }
}
.box2{
  display: flex;
  .container_left{
    .item{
      display: flex;
      align-items: center;
      gap: 28.5px;
      h3{
        color: #0E8784;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; /* 133.333% */
      }
      h2{
        color: #333D4B;
        font-family: Fraunces;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 32px; /* 133.333% */
      }
    }
    .line{
      width: 255px;
      height: 1px;
      flex-shrink: 0;
      opacity: 0.25;
      background: #83888F;
    }
  }
}
.box3{
  display: flex;
  justify-content: right;
  margin-top: 150px;
  .container_box3{
    display: flex;
    flex-direction: column;
    width: 730px;
    height: 208px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #2C343E;
    margin-bottom: 50px;
    .box3_title{
      margin-left: 64px;
      margin-top: 51px;
      width: 172px;
      color: #FFF;
      font-family: Barlow;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; /* 162.5% */
      text-transform: uppercase;
      opacity: 0.5037;
    }
    .box3_text{
      margin-left: 64px;
      width: 602px;
      color: #FFF;
      font-family: Fraunces 9pt;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: 40px; /* 166.667% */
      strong{
        color: #0E8784;
        font-family: Fraunces 9pt;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 40px;
      }
    }
  }
}
.but{
  display: flex;
  justify-content: right;
}
.mat-mdc-unelevated-button.mat-unthemed {
  --mdc-filled-button-container-color: #0E8784;
  --mdc-filled-button-label-text-color: #FEFCF7;
  width: 217px;
  height: 56px;
  flex-shrink: 0;
  color: #FEFCF7;
  text-align: center;
  font-family: Fraunces;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 25px; /* 138.889% */
}
.mat-mdc-unelevated-button.mat-unthemed:hover {
  --mdc-filled-button-container-color: #66D2CF;
  --mdc-filled-button-label-text-color: #FEFCF7;
}
.container_right{
  display: flex;
  flex-direction: column;
  gap: 80px;
  .mat-expansion-panel{
    margin-left: 165px;
    width: 800px;
    max-width: 100%;
    background-color: #FEFCF7 !important;
    font-family: Fraunces;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px; /* 120% */
    --mat-expansion-header-text-color:#83888F;
    --mat-expansion-container-background-color:#FEFCF7;
  }
  .mat-expansion-panel-header{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mat-expansion-panel-header.mat-expanded{
    background: #FEFCF7;
  }
  .mat-expansion-panel-header.mat-expanded:hover {
    background: #FEFCF7;
  }
  .mat-icon{
    color: #0E8784;
    margin: auto 0;
  }
  --mat-expansion-header-indicator-color: #0E8784;
  .container{
    --mat-standard-button-toggle-text-color: #333D4B;
    --mat-standard-button-toggle-background-color: #F4F1EB;
    --mat-standard-button-toggle-divider-color: none;
    --mat-standard-button-toggle-selected-state-background-color: #0E8784;
    --mat-standard-button-toggle-selected-state-text-color: #ffffff;
    mat-button-toggle-group{
      :hover{
        background-color: #FDD6BA;
      }
    }
    mat-button-toggle{
      margin-right: 28px;
      width: 228px;
      height: 250px;
      color: #333D4B;
      font-family: Fraunces;
      font-size: 24px;
      font-style: normal;
      font-weight: 900;
      line-height: 32px; /* 133.333% */
      :hover{
        background-color: transparent;
      }
      .vala{
        width: 228px;
        height: 250px;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-top: 25px;
        h2{
          text-align: start;
          color: #333D4B;
          font-family: Fraunces;
          font-size: 24px;
          font-style: normal;
          font-weight: 900;
          line-height: 32px; /* 133.333% */
        }
        p{
          text-wrap: wrap;
          text-align: left;
          width: 172px;
          color: #333D4B;
          font-family: Barlow;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px; /* 162.5% */
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .box2{
    .container_left{
      display: none;
    }
    .container_right{
      .mat-expansion-panel{
        width: 730px;
        margin: 0 auto;
        mat-button-toggle{
          width: 200px;
        }
      }
    }
  }
}
