<app-container>
  <div class="banner">
    <h1 class="title">Create plan</h1>
    <p class="banner_text">Coffee the way you wanted it to be. For coffee delivered tomorrow, or next week. For whatever brew method you use. For choice, for convenience, for quality.</p>
  </div>
  <div class="box1">
    <div class="wrapper_infos">
      <div class="info">
        <div class="top">
          <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><circle cx="15.5" cy="15.5" r="14.5" fill="none" stroke="#0E8784" stroke-width="2"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="365px" height="3" viewBox="0 0 761 3" fill="none"><path d="M0.5 1.5H760.5" stroke="#FDD6BA" stroke-width="2"/>
          </svg>
        </div>
        <h2>01</h2>
        <h3>Pick your
          coffee</h3>
        <h4>Select from our evolving range of artisan coffees. Our beans are ethically sourced and we pay fair prices for them. There are new coffees in all profiles every month for you to try out.</h4>
      </div>
      <div class="info">
        <div class="top">
          <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><circle cx="15.5" cy="15.5" r="14.5" fill="none" stroke="#0E8784" stroke-width="2"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="365px" height="3" viewBox="0 0 761 3" fill="none" class="straight"><path d="M0.5 1.5H760.5" stroke="#FDD6BA" stroke-width="2"/>
          </svg>
        </div>
        <h2>02</h2>
        <h3>Choose the frequency</h3>
        <h4>Customize your order frequency, quantity, even your roast style and grind type. Pause, skip or cancel your subscription with no commitment through our online portal.</h4>
      </div>
      <div class="info">
        <div class="top">
          <svg xmlns="http://www.w3.org/2000/svg" width="31" height="31" viewBox="0 0 31 31" fill="none"><circle cx="15.5" cy="15.5" r="14.5" fill="none" stroke="#0E8784" stroke-width="2"/>
          </svg>
        </div>
        <h2>03</h2>
        <h3>Receive and enjoy!</h3>
        <h4>We ship your package within 48 hours, freshly roasted. Sit back and enjoy award-winning world-class coffees curated to provide a distinct tasting experience.</h4>
      </div>
    </div>
  </div>
  <div class="box2">
    <div class="container_left">
      <div class="item">
        <h3>01</h3>
        <h2>Preferences</h2>
      </div>
      <div class="line"></div>
      <div class="item">
        <h3>02</h3>
        <h2>Bean Type</h2>
      </div>
      <div class="line"></div>
      <div class="item">
        <h3>03</h3>
        <h2>Quantity</h2>
      </div>
      <div class="line"></div>
      <div class="item">
        <h3>04</h3>
        <h2>Grind Option</h2>
      </div>
      <div class="line"></div>
      <div class="item">
        <h3>05</h3>
        <h2>Deliveries</h2>
      </div>
    </div>
    <div class="container_right">

    </div>
  </div>
  <div class="box3">
    <div class="container_box3">
      <div class="box3_title">Order Summary</div>
      <div class="box3_text">“I drink my coffee using <strong>Capsules</strong>, with a <strong>_____</strong> type of bean. _____ , sent to me <strong>_____</strong>.”</div>
    </div>
  </div>
  <div class="but">
    <button mat-flat-button disabled aria-label="Create your plan">Create my plan!</button>
  </div>

</app-container>
