.mat-toolbar{
  background-color:#FEFCF7;
  width: 1280px;
  max-width: 100%;
  margin:0 auto;
  margin-bottom: 20px;
  .example-spacer {
    flex: 1 1 auto;
  }
  .logo{
    cursor: pointer;
  }
  button{
    --mat-mdc-button-persistent-ripple-color: rgba(0, 0, 0, 0);
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
    color: #83888F !important;
  }
  button:hover{
    color: black !important;
  }
}

@media(max-width:520px) {

}
