<div class="footer" role="footer">
  <mat-toolbar>
    <img src="../../../assets/home/logo_footer.svg" alt="Logo coffeeroaster" class="logo">
    <span class="example-spacer"></span>
    <div class="buttons">
      <button mat-button aria-label="Home" routerLink="">HOME</button>
      <button mat-button aria-label="About Us" routerLink="/about">ABOUT US</button>
      <button mat-button aria-label="Create your plan" routerLink="/subscribe">CREATE YOUR PLAN</button>
    </div>
    <span class="example-spacer"></span>
    <div class="socialmedia">
      <div><fa-icon [icon]="faFacebook" class="fa"></fa-icon></div>
      <div><fa-icon [icon]="faTwitter" class="fa"></fa-icon></div>
      <div><fa-icon [icon]="faInstagram" class="fa"></fa-icon></div>
    </div>
  </mat-toolbar>
</div>
